h1 {
	color: #8B1C62;
}

h2 {
	color: #01DFA5;
}

h3 {
	color: blue;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: blue;
}

h6 {
	color: #8B668B;
}
a{
	width: 80px;
    height: 70px;
    font-family: verdana;
    background-color: green;
}
img{
 float: right;
 width: 40%;
 padding: 5px;
 margin: 0px 10px 10px 0px;
 position: center;
}
img2{
 float: right;
 width: 46%;
 padding: 5px;
 margin: 0px 10px 10px 0;
}
